* {
    padding:0;
    margin:0;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color:#495168;
    color: white;

}

.cabecalho img {
max-width: 200%;
max-height: 200px;
width: auto;
height: auto;
}

.cabecalho {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.cabecalho h1 {
    color: white;
    padding-top: 50px;
}


.container-input
{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container-input .input{
    width: 400px;
    height: 330px;
}

#input-text{
    width: 300px;
    height: 150px;
    font: 20px;
    color:white;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px ;
    text-transform: uppercase;

}

::placeholder{
    color:black;
}

#container-output{
    display: block;
    flex-direction: column;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin-right: 3%;
}

#container-output h2{
    text-align: center;
    font-size: 20px;
    color: black;
}

#container-output span{
    font-size: 15px;
    text-align: center;
}

.container-btn button {
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    height: 100px;
    color: #440344;
    cursor: pointer;
    margin-left: 3%;
    font-size: 20px;
}

.btn-copiar {
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    height: 100px;
    color: #440344;
    cursor: pointer;
    margin-bottom: 10%;
    margin-left: 30%;
    font-size: 20px;
}


.container-btn button:hover{
    border: 2px solid black;
    transition: 0.5s all;
}


.rodape{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 2%;
 margin-top: 15px;
 background-color: #440344;
 color: white;
}

.rodape h3 {
    font-size: 16px;
}



.icons ion-icon {
    width: 25px;
    height: 25px;
    color: white;
margin-left: 50px;    
    align-items: center;
}

.icons ion-icon:hover{
    color: black;
    transition: 0.5s all;
}
